<table>
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'admin.contact.name'|trans }}</th>
            <th>{{ 'admin.contact.email'|trans }}</th>
            <th>{{ 'admin.contact.phone'|trans }}</th>
            <th>{{ 'admin.contact.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for mail in mails %}
        <tr>
            <td>{{ mail.id }}</td>
            <td>{{ mail.name }}</td>
            <td>{{ mail.email }}</td>
            <td>{{ mail.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>